.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 1rem 4rem;
    background-color: #fff;
}

.icon__menu {
    display: none;
}

.nav {
    display: flex;
    gap: 3rem;
}
.nav__title{
    font-size: 2rem;
    color: var(--color__text__black);
    text-decoration: none;
}

.nav__title--logo{
    width: 12rem;
}
.nav__link {
    text-decoration: none;
    border-radius: 6px;
    color: var(--color__text__black);
    padding: .8rem;
    transition: background-color .3s;
}

.nav__link:hover {
    background-color: rgba(47, 47, 217, 0.725);
    color: var(--color__text__white);
}

.nav__link--download {
    background-color: rgb(47, 47, 217);
    border-radius: 6px;
    color: var(--color__text__white) !important;
}


@media (max-width:550px) {
    .icon__menu {
        display: block;
        width: 30px;
    }
    .nav__container{
        height: 80px;
        background-color: #fff;
        padding: 0 1rem;
    }
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        background-color: #fff;
        width: 100%;
        top: 79px;
        clip-path: circle(0.4% at 100% 0);
        transition: all .5s;
        left: 0;
        padding: 1rem 0;
    }
    .menu__open{
        clip-path: circle(141.6% at 100% 0);
    }
}