.container__proyects{
    padding: 2rem 4rem 0 4rem;
}
.title__seccion__projects{
    font-size: 2rem;
}
.container__cards__project{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    margin-bottom: 2rem;
    background-color: rgba(244, 244, 244, 0.375);
    padding: 1rem;
    border-radius: 15px;
}
.container__img__project{
    width: 40%;
    padding: 1.3rem 1rem;
    background-color: rgba(47, 47, 217, 0.055);
    border-radius: 12px;
}
.img__project{
    width: 100%;
}

.container__content__project{
    width: 60%;
}
.title__project{
    margin: 1.5rem 0;
}
.content__project{
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem 0;
}
.container__buttons__project{
    display: flex;
    gap: 1rem;
}
.button__project{
    background-color: rgb(47, 47, 217);
    color: var(--color__text__white);
    text-decoration: none;
    padding: .4rem;
    border-radius: 6px;
    font-size: 1rem;
    transition: background-color .3s;
}

.button__project:hover{
    background-color: rgba(47, 47, 217, 0.725);
}

@media(max-width:550px){
    .container__proyects{
        padding: 0 1rem;
    }
    .container__cards__project{
        flex-direction: column;
    }
    .container__img__project{
        width: 100%;
    }
    .container__content__project{
        width: 100%;
    }
}